<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Example App</title>
    <link href= '/stylesheets/style.css' rel='stylesheet'>
</head>
<body>
	<header>
		<ul id="mainNav" >
		  <li><a href="about">About</a></li>
		  
		</ul>

			<a href= "/" id="noblack"> <h1>LegitLy</h1> </a>
		</div>
		<h2>Fooling your teachers with seemingly credible citations.</h2>
	</header>

    {{{body}}}

    <footer>
		<p>Running node.js with Express, Express3-Handlebars, and MySQL. Built by <a href="https://www.github.com/bluetomatoes" target="_blank">Matthew Mellea</a> </p>
	</footer>

</body>
</html>