
<p id="input-text">Enter a url that will bring shame to your bibliography.</p>
<form id="targetlink" name="input" action="/create" method="post">
	<input type="text" name="urlToShorten" class="form-control" placeholder="Enter a URL" >
	 <input type="submit" value="Shorten" class="btn btn-primary">
</form>

